*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;

}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
header{
    background-image: url(img/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
   
    
  
}
header::before{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.527);
    content: "";
}
header input{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    

}

header input:checked ~ .menu-icon .menu-line::after{
    transform: rotate(90deg);
    transition: 0.3s;
    top: 0;
}
header input:checked ~ .menu-icon .menu-line::before{
    transform: rotate(90deg);
    transition: 0.3s;
    top: 0;
}
header input:checked ~ .menu-icon .menu-line{
    transform: rotate(135deg);
    transition: 0.3s;
}

header input:checked ~ .menu-item {
right: 0;

}

.nav-bar{
    width: 100%;
    background-color: black;
    z-index: 1;
    height: 80px;
    position: absolute;
    top: 0px;
    display: block;
    
    
   
}


.navigation li a{
    color: rgb(236, 159, 63);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

 


}
.title-menu {
    position: absolute;
    z-index: 1;
    padding: 9px 18px ;
    display: none;
    top: 80px;
    background-color: black;
    
    
    
}


.navigation{
    height: 100%;
    justify-content: center;
     display: flex;
    
}

.list {
    width: fit-content;
    padding: 25px 0;
   
    
    /* (cách để căn giữa) thằng cha cho display: table; */
    height: 100%
    

}

.title-menu a{
    border-bottom: 1px solid rgb(97, 95, 91);
   
    
}
.title-menu li:hover a{
    border-bottom: 1px solid rgb(180, 177, 171);
}
.title-menu li:last-child a{
    border: none;
}

.list:hover .title-menu{
    display: block;
}
.list a{
    padding: 0px 20px;
    
    /* (cách để căn giữa) thằng con cho display: table-cell; */
    /* vertical-align: middle; */
    
}
.title-1{
    color: rgb(236, 159, 63);
    font-size: x-small;
    display: none;
    background-color: black;
    width: 200px;
   
    margin-top: -30px;
    
    margin-left: 135px;
    position: absolute;
    
   

}
.title-1 li{
    padding: 8px 15px;
}
.title-menu :hover .title-1{
    display: block;
    position: absolute;
    

}
 .menu-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: rgb(236, 159, 63);
    position: fixed;
    
    

}  
 .menu-line{
     width: 40px;
     height: 4px;
     background-color: rgb(236, 159, 63);
     position: relative;
    
    

 }
 .menu-line::before{
    width: 40px;
    height: 4px;
    top: 10px;
    background-color: rgb(236, 159, 63);
    position: absolute;
    content: "";
    display: block;
 }
 .menu-line::after{
    width: 40px;
    height: 4px;
    top: -10px;
    background-color: rgb(236, 159, 63);
    position: absolute;
    content: "";
    display: block;

 }
.menu-item {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.719);
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
    
}
.menu-item li{
    line-height: 40px;
}
.menu-item li a{
    color: rgb(241, 174, 91);
}
.header-text{
    position: absolute;


}
.header-text h1{
    font-size: 50px;
    color: rgb(236, 159, 63);
    margin-bottom: 20px;
    font-family:'Dancing Script', cursive;
   
  
    
}
.header-text a{
    padding: 15px 40px;
    background-color: rgb(236, 159, 63);
    color: rgb(12, 12, 12);
    border-radius: 30px;
    font-size: 25px;
    opacity: 0.3;
    animation: headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 0.3s;
 
}
.header-text a:hover{
color: rgb(236, 159, 63);
background: transparent;
border-style: solid;

}
@keyframes  headerAnimation {
0%{
    opacity: 0.4;
}
50%{
    opacity: 1;
}
100%{
    opacity: 0.4;
}
}
.about{
    display: flex;
}
main {
     text-align: center; 
    display: block;
}
i {
    font-size: xx-large;
    float: left;
   
} 
.about p{
    color: rgb(228, 156, 24);
    font-size: x-large;
    font-family: 'Source Serif 4', sans-serif;
    
}
i:hover{
    transform: translateY(-10px);
    transition: 0.4s;
}
.system{
   
    position: relative;
    text-align: center;
    background-image: url(img/food.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
 
}
.us{
    font-family: 'Playball', cursive;
    font-size: 70px;
    color: black;
}
.store{
    position: absolute;
    justify-content: center;
    margin-bottom: 480px;
    font-size: 70px;
    color: black;
    font-family: 'Playball', cursive;
   
    
}
.intro{
    color: black;
    font-family: 'Source Serif 4', sans-serif;
}
.system a{
    justify-content: center;
    margin-top: 300px;
    position: absolute;
    padding: 15px 40px;
    background: transparent;
    color: rgb(8, 8, 8);
    border-radius: 30px;
    font-size: 25px;
    
    background-color: rgb(236, 159, 63);

}
.system a:hover{
    transform: translateY(-10px);
    
    transition: 0.5s;
}
.pic{
    display: flex;
    width: 100%;
    height: 100vh;
    
}



.pic-1{
    background-image: url(img/hinhanh.jpg);
    width: 33.3%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    
  
}
.pic-2{
    background-image: url(img/pic.jpg);
    width: 33.3%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    
}
.pic-3{
    background-image: url(img/restaurant.jpg);
    width: 33.3%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
  
}
.picture{
    color: black;
    
    font-family: 'Playball', cursive;
    font-size: 70px;
}
.pic-1:hover{
  transform: translateY(-20px);
  transition: 0.7s;
    
}
.pic-2:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}
.pic-3:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}
.footer-container{
    background-color: rgb(24, 24, 110);
    height: 55vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    
   
}
.footer h1{
    justify-content: center;
    font-family: 'Playball', cursive;
    font-size: 70px;
    display: flex;
    color: rgb(0, 0, 0);
}
.footer-all{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
   
}

.footer-header.about {
    flex-direction: column;
    margin: 60px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.footer-header.social {
  
   text-align: left;
    margin: 60px;
    
    color: white;
}
.footer-header.contact {
    text-align: left;
    margin: 60px;
    color: white;
}
